.About {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
}
.ab-title {
  text-align: center;
  color: white;
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.5em;
  background-color: rgb(243, 111, 91);
  /* margin-top: 0; */
  padding: 20px 0px 20px 0px;
  margin: 20px 0px 0px 0px;
  width: 100vw;
}

.staff {
  padding: 10px;
  width: 680px;
  /* height: 100px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.staff > h1 {
  margin: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 38px;
}
.staff > hr {
  border-top: 3px solid rgb(228, 86, 65);
  border-radius: 50px;
  width: 100%;
}
.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* height: 900px; */
}

.staff-img {
  object-fit: cover;
  width: 105px;
  height: 128px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.contact-us {
  padding: 20px;
  background-color: white;
  height: 360px;
  width: 300px;
  border: 3px solid #f1a94e;
  border-radius: 50px;
  margin-top: 10px;
}

.person {
  background-color: white;
  /* border: 3px solid #57c4c3;
  border-radius: 50px; */
  height: 320px;
  width: 300px;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 30px 0px 30px 0px;
  margin-bottom: 30px;
}

.person-section > h5 {
  margin: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.6px;
}

.right-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us > h1 {
  margin: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 38px;
}

.contact-us > hr {
  border-top: 3px solid rgb(228, 86, 65);
  border-radius: 50px;
  width: 100%;
}
.contact-info > h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.6px;
}

.beyond-img {
  width: 320px;
  margin-top: 40px;
  border-radius: 20px;
  border: 3px solid #f1a94e;
}
