.About {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

.staff {
  padding: 20px;
  background-color: white;
  width: 680px;
  /* height: 700px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 50px;
  border: 3px solid #57c4c3;
}
.staff > h1 {
  margin: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 38px;
}
.staff > hr {
  border-top: 3px solid rgb(228, 86, 65);
  border-radius: 50px;
  width: 100%;
}
.members {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.staff-img {
  object-fit: cover;
  width: 105px;
  height: 128px;
  margin-right: 20px;
}

.contact-us {
  padding: 20px;
  background-color: white;
  height: 400px;
  width: 320px;
  border: 3px solid #f1a94e;
  border-radius: 50px;
}

.person {
  height: 140px;
  display: flex;
  align-items: center;
  margin: 25px 0px 25px 0px;
}

.person-section > h5 {
  margin: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.6px;
}

.right-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us > h1 {
  margin: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 38px;
}

.contact-us > hr {
  border-top: 3px solid rgb(228, 86, 65);
  border-radius: 50px;
  width: 100%;
}
.contact-info > h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.6px;
}

.beyond-img {
  width: 320px;
  margin-top: 50px;
  border-radius: 20px;
  border: 3px solid #f1a94e;
}
