.Home {
    height: 100vh;
    width: 100vw;
}

.beyond-img {
    width: 300px;
}

.banner {
    display: flex;
    /* background-color: #E45641; */
    height: 100%;
    width: 100%;
    position: relative;
    align-items: flex-end;
    background-image: url(../../fof-img/DSC_0180-4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    top: 0;
    background-position: top;
}