.Footer {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: #57c4c3;
    padding: 10px;
    height: 80px;
}

.footer-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

.footer-links > h4 {
    margin: 17px;
    font-size: 0.9em;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}

.footer-links > h4:hover {
    color: rgb(85, 95, 95);
}

.copyright {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

.copyright > h4 {
    margin: 0px 17px 5px 17px;
    font-size: 0.8em;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    color: rgb(70, 69, 69);
}

@media (max-width: 800px) {
    .footer-links > h4 {
        margin: 14px;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1px;
    }
    .copyright > h4 {
        margin: 0px 14px 5px 14px;
        font-size: 0.7em;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1px;
        color: rgb(70, 69, 69);
    }
}
@media (max-width: 545px) {
    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .Footer {
        height: 240px;
    }

.copyright {
    display: flex;
    justify-content: flex-start;

}
}