.Nav {
    background-color: #57c4c3;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
a {
    text-decoration: none;
}
.link {
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    letter-spacing: 1px;
    color: white;
    margin: 10px;
    /* height: 100%; */
}
.link:hover {
    color: #F2EDD8;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

.logo-img {
    width: 280px;
    padding: 10px;
    border-radius: 25px;
}

.nav-links {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 80px;
}

@media (max-width: 1200px) {
    .link {
        font-family: 'Raleway', sans-serif;
        font-size: 17px;
        letter-spacing: 1px;
        color: white;
        margin: 7spx;
        /* height: 100%; */
    }

    .nav-links {
        width: 700px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-right: 60px;
    }

}
@media (max-width: 1050px) {
    .link {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        letter-spacing: 1px;
        color: white;
        margin: 9px;
        /* height: 100%; */
    }

    .nav-links {
        width: 600px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-right: 40px;
    }
    .logo-img {
        width: 240px;
        padding: 8px;
        border-radius: 23px;
    }

}
@media (max-width: 900px) {
    .Nav {
        flex-direction: column;
        height: 120px;
    }
    .nav-links {
        margin: 0;
        width: 630px;
    }

}
@media (max-width: 630px) {
    .logo-img {
        width: 220px;
        padding: 6px;
        border-radius: 20px;
    }
    .link {
        font-family: 'Raleway', sans-serif;
        font-size: 11px;
        letter-spacing: 1px;
        color: white;
        margin: 7px;
    }
    .nav-links {
        margin: 0;
        width: 470px;
    }

}