.Nav {
    background-color: #44B3C2;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
.link {
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    letter-spacing: 1px;
    color: white;
    margin: 10px;
    /* height: 100%; */
}
.link:hover {
    color: #F2EDD8;
    cursor: pointer;
}

.logo-img {
    width: 280px;
    padding: 10px;
}

.beyond-img {
    width: 300px;
}

.nav-links {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 80px;
}